extends layout.pug

block content
    header
        h1 Timestamp Express Microservice
    main
        div#description
            p Hi there! I can take your input, and if there's a date or Unix timestamp in there, I'll make sure to give you back both formats to use! You can enter a string below, or enter it in the URL manually as a parameter.
            span The current Unix time is: #{currentUnix}
        div.example
            h2 Example Input
            div#flex-examples
                div.sample-col
                    h3 As parameter:
                    span https://jc-timestamp.glitch.me/August%209%202017
                    br
                    br
                    span https://jc-timestamp.glitch.me/1502254800
                div.sample-col
                    h3 In form:
                    span August 9, 2017
                    br
                    br
                    span 1502254800
            h2 Example Output
            code {"unix-time":"1502254800","natural-time":"Aug 9, 2017"}
        div
            form(action="/" id="query-form")
                input(type="text" id="time-string" required)
                input(type="submit" id="submit" value="Submit")
    footer
    script(
        src="js/client.js"
        type="text/javascript"
        )